name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout da base de código
        uses: actions/checkout@v3.5.3
      - name: Autenticação no Docker Hub
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USR }}
          password: ${{ secrets.DOCKERHUB_PWD }}
      - name: Passo 02
        run: docker login 
      - name: Passo 03
        run: echo "Subir as imagens para o repositório de imagens Docker (Dockerhub)"
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps: 
      - name: Passo 01
        run: echo "Baixar a base de código"
      - name: Passo 02
        run: echo "Autenticar na AWS"
      - name: Passo 03
        run: echo "Deploy dos microsserviços no Kubernetes"
    
